pyrogram==2.0.43
psutil
loggers
filetype
tldextract
filesplit==4.0.0
numpy
yt-dlp
Pillow
hachoir
olefile
requests
tgcrypto
aiofiles
dnspython
motor
beautifulsoup4
Flask==2.2.2
aiohttp==3.8.1
pymongo[srv]==3.12.3
tldextract
pyrogram==1.4.12
user_agent
bs4
mega.py
opencc
wget
youtube_dl
html5lib
pySmartDL
gunicorn==20.1.0
